
streamlit
numpy
pandas

matplotlib
Pillow
pyproj
shapely
fiona
geopandas
cartopy

# Llibreries científiques i de temps
metpy
scipy
pytz


openmeteo-requests
requests-cache
retry-requests
requests
google-generativeai
streamlit-autorefresh
st-oauth
