streamlit
numpy
pandas
matplotlib
Pillow
pyproj
shapely
fiona
geopandas
cartopy
metpy
scipy
pytz
openmeteo-requests
requests-cache
retry-requests
requests
urllib3<2.0
google-generativeai
streamlit-oauth
Pillow
streamlit-option-menu
global-land-mask
imageio
foluim
