streamlit==1.35.0
geopandas==0.14.3
shapely==2.0.4
cartopy==0.23.0
metpy==1.6.2
scipy==1.13.1
openmeteo-requests==1.2.0
requests-cache==1.2.0
retry-requests==2.0.0
requests==2.31.0
numpy==1.26.4
matplotlib==3.8.4
pytz==2024.1
google-generativeai==0.5.4
streamlit-autorefresh==1.0.1
st-oauth==0.0.6
